<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
  </startup>
  <connectionStrings>
    <add name="sqlDB" connectionString="data source=lgq_oa.db;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Shared.Wpf" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.4460.0.38" newVersion="19.4460.0.38" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.4460.0.38" newVersion="19.4460.0.38" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>