<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
  </startup>
  <connectionStrings>
    <add name="sqlDB" connectionString="data source=lgq_oa.db;"/>
  </connectionStrings>
</configuration>